<!DOCTYPE html>
<html>
<head>
  <title>Projekt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "calculation" %>
  <%= javascript_include_tag "jqueryblock" %>
  <%= javascript_include_tag "form" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
